In [2]:
import pandas as pd

In [3]:
crisismmd = "../data/annotations/"

In [4]:
path = crisismmd + "california_wildfires_final_data.tsv"

In [11]:
data = pd.read_csv(path, sep='\t')

In [12]:
data = data[['tweet_id', 'tweet_text', 'text_info', 'image_info', 'text_human', 'image_human']]

In [13]:
data = data.dropna(axis=0)

In [15]:
data.head()

,tweet_id,tweet_text,text_info,image_info,text_human,image_human
0,917791044158185473,RT @Gizmodo: Wildfires raging through Northern...,informative,informative,other_relevant_information,other_relevant_information
1,917791130590183424,PHOTOS: Deadly wildfires rage in California ht...,informative,informative,infrastructure_and_utility_damage,affected_individuals
2,917791291823591425,RT @Cal_OES: PLS SHARE: Weâ€™re capturing wild...,informative,informative,other_relevant_information,infrastructure_and_utility_damage
3,917791291823591425,RT @Cal_OES: PLS SHARE: Weâ€™re capturing wild...,informative,not_informative,other_relevant_information,not_relevant_or_cant_judge
4,917792092100988929,RT @TIME: California's raging wildfires as you...,informative,informative,other_relevant_information,infrastructure_and_utility_damage

In [ ]:
target_label = 'text_human'

In [18]:
data['category_id'] = data[target_label].factorize()[0]

In [19]:
data.head()

,tweet_id,tweet_text,text_info,image_info,text_human,image_human,category_id
0,917791044158185473,RT @Gizmodo: Wildfires raging through Northern...,informative,informative,other_relevant_information,other_relevant_information,0
1,917791130590183424,PHOTOS: Deadly wildfires rage in California ht...,informative,informative,infrastructure_and_utility_damage,affected_individuals,1
2,917791291823591425,RT @Cal_OES: PLS SHARE: Weâ€™re capturing wild...,informative,informative,other_relevant_information,infrastructure_and_utility_damage,0
3,917791291823591425,RT @Cal_OES: PLS SHARE: Weâ€™re capturing wild...,informative,not_informative,other_relevant_information,not_relevant_or_cant_judge,0
4,917792092100988929,RT @TIME: California's raging wildfires as you...,informative,informative,other_relevant_information,infrastructure_and_utility_damage,0

In [ ]:
num_clusters = len(data[target_label].unique())
num_clusters

9

In [ ]:
data[target_label].value_counts()

other_relevant_information                683
rescue_volunteering_or_donation_effort    195
infrastructure_and_utility_damage         166
injured_or_dead_people                    108
affected_individuals                       83
not_relevant_or_cant_judge                 62
missing_or_found_people                     8
vehicle_damage                              2
Name: text_human, dtype: int64